.keyboard {
    padding: 4px;
}

.keyboard-row  {
    padding-bottom: 4px;
}
.keyboard__btn {
    padding: 4px 8px;
    color: #ababab;
    border-top: 1px solid rgba(255, 255, 255, 1.0);
    border-left: 1px solid rgba(255, 255, 255, 1.0);
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.keyboard__btn--active {
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    background-color: rgba(59, 130, 246, 0.15);
    color: white;
}